<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirige todas las solicitudes al archivo index.php, excepto para archivos y directorios reales
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
